<div class="relative max-w-7xl mx-auto bg-white dark:bg-gray-900 overflow-hidden flex flex-wrap-reverse lg:flex-wrap items-stretch">
  <div>
    <div class="relative pb-8 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32 lg:max-w-2xl lg:w-full lg:bg-vermillion-50 dark:lg:bg-vermillion-800">
      <svg class="hidden z-10 lg:block absolute right-0 inset-y-0 h-full w-48 text-vermillion-50 dark:text-vermillion-800 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <polygon points="50,0 100,0 50,100 0,100"/>
      </svg>

      <main class="max-w-7xl">
        <div class="h-96 sm:h-auto relative w-full flex flex-col justify-end">
          <div class="sm:hidden absolute inset-y-0 right-0">
            <img class="h-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" srcset="<%= image_url 'home-hero.png' %>, <%= image_url 'home-hero@2x.png' %> 2x" alt="">
          </div>

          <h1 class="relative z-1 bg-vermillion-50 dark:bg-vermillion-800 pt-4 px-4 sm:pt-12 sm:px-6 md:pt-16 lg:pt-20 lg:px-8 xl:pt-28 text-xl tracking-tight font-bold text-gray-900 dark:text-gray-50 sm:text-5xl md:text-6xl w-2/3 sm:w-auto">
            Guides to your next destination, curated by local tastemakers.
          </h1>
        </div>

        <div class="bg-vermillion-50 dark:bg-vermillion-800 py-8 px-4 sm:px-6 sm:pb-16 md:pb-20 lg:px-8 lg:pb-28 xl:pb-32">
          <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
        </div>
      </main>
    </div>
  </div>

  <div class="relative flex-grow hidden sm:block">
    <div class="lg:absolute lg:inset-y-0 lg:right-0 w-full h-full ">
      <img class="w-full h-full object-cover" srcset="<%= image_url 'home-hero.png' %>, <%= image_url 'home-hero@2x.png' %> 2x" alt="">
    </div>
  </div>
</div>
