<% provide :title, "Destinations" %>
<%= render 'shared/main' do %>
  <%= render 'shared/main_heading', class: 'text-center' do %>
    Destinations
  <% end %>

  <div class="mt-10">
    <%= will_paginate %>
  </div>

  <ul>
    <%= render @locales || "No destinations available." %>
  </ul>

  <div class="mt-10">
    <%= will_paginate %>
  </div>
<% end %>
