<% provide :title, "Cities" %>
<%= render 'shared/main' do %>
  <%= render 'shared/main_heading', class: 'text-center' do %>
    Cities
  <% end %>

  <div class="mt-10">
    <%= will_paginate %>
  </div>

  <ul>
    <%= render @locales %>
  </ul>

  <div class="mt-10">
    <%= will_paginate %>
  </div>
<% end %>
