<% provide(:title, @user.name) %>

<div class="max-w-7xl mx-auto flex">
  <%= render 'layouts/sidebar' do %>
    <div class="flex flex-col">
      <div class="rounded-full overflow-hidden w-full mr-4">
        <%= gravatar_for @user, size: 400%>
      </div>

      <div class="mt-5">
        <h1 class="font-bold text-2xl"><%= @user.name %></h1>
        <div><%= @user.email %></div>
        <% if current_user == @user %>
          <a class="block btn btn-default btn-sm mt-5" href="<%= edit_user_path current_user %>">Edit profile</a>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="pt-5 w-full px-4 sm:pt-6 sm:px-6 md:pt-8 lg:pt-10 lg:px-8 xl:pt-15">
    <h2 class="text-2xl font-bold mb-5">Posts</h2>
    <% if @post %>
      <section class="post-form">
        <%= render 'posts/form' %>
      </section>
    <% end %>

    <% if @posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
