<% provide :title, "Destinations" %>
<%= render 'shared/main' do %>
  <%= render 'shared/main_heading', class: 'text-center' do %>
    Destinations
  <% end %>

  <div class="mt-10">
    <%= will_paginate %>
  </div>

  <ul class="grid gap-4 grid-cols-2 sm:grid-cols-3 lg:grid-cols-4">
    <%= render @destinations || "No destinations available." %>
  </ul>

  <div class="mt-10">
    <%= will_paginate %>
  </div>
<% end %>
