<li class="flex flex-col justify-between bg-inherit">
  <a href="<%= guide_path guide %>">
    <div class="p-5 w-full flex flex-col justify-start">
      <h2 class="font-bold text-2xl m-5"><%= guide.title %></h2>
      <h3 class="m-5 text-xl"><%= guide.description %></h3>
    </div>
  </a>
  <div class="m-10 mt-0">
    <a class="flex" href="<%= user_path guide.user %>">
      <%= gravatar_for(guide.user, size: 32) %>
      <p class="ml-2 mt-1"><%= guide.user.name %></p>
    </a>
  </div>
</li>