<%= render 'shared/main' do %>
  <%= render 'shared/main_heading', classes: 'text-center' do %>
    Create a Guide
  <% end %>

  <div class="sm:max-w-2xl mt-10 mx-auto">
    <%= form_with(model: @guide, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field w-full">
        <div class="mb-4 w-full">
          <%= render 'shared/destination_select', form: f %>
        </div>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'w-full mb-4' %>

        <%= f.label :description %>
        <%= f.text_area :description, class: "w-full" %>
      </div>

      <%= f.submit "Create guide", class: "btn btn-primary mt-5" %>
    <% end %>
  </div>
<% end %>
