<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-white dark:bg-gray-900 text-gray-700 dark:text-gray-200 relative">
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>

  <% unless flash.empty? %>
    <div id="flash-container" class="absolute bottom-4 right-4 flex flex-col">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "p-3 rounded-lg shadow-2xl mb-4 #{flash_styles message_type}") %>
      <% end %>
    </div>
  <% end %>
</body>
</html>
